# Environment
ENVIRONMENT=development

# Database - PostgreSQL
POSTGRES_CONTAINER_NAME=rickmorty-postgres
POSTGRES_DB=rickmortydb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_secure_password_here
POSTGRES_PORT=5432

# Redis
REDIS_CONTAINER_NAME=rickmorty-redis
REDIS_PORT=6379
REDIS_DB=0
REDIS_MAX_MEMORY=256mb
REDIS_EVICTION_POLICY=allkeys-lru

# Backend API
API_CONTAINER_NAME=rickmorty-backend
API_PORT=4000

# Frontend Web
WEB_CONTAINER_NAME=rickmorty-frontend
WEB_PORT=5173

# Network
NETWORK_NAME=rickmorty-network

# =============================================================================
# Source Api Url
# =============================================================================
RICK_AND_MORTY_API_URL=https://rickandmortyapi.com/graphql
INITIAL_CHARACTERS=15