# =============================================================================
# API Configuration
# =============================================================================
NODE_ENV=development
API_PORT=8000

# =============================================================================
# PostgreSQL Database Configuration
# =============================================================================
POSTGRES_CONTAINER_NAME=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_HOST=
POSTGRES_PASSWORD=
POSTGRES_PORT=5432
POSTGRES_DIALECT=postgres

# =============================================================================
# Redis Cache Configuration
# =============================================================================
REDIS_URL=
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0