# =============================================================================
# API Configuration
# =============================================================================
NODE_ENV=development
API_PORT=4000

# =============================================================================
# PostgreSQL Database Configuration
# =============================================================================
POSTGRES_DB=rickmortydb
POSTGRES_USER=postgres
POSTGRES_HOST=localhost
POSTGRES_PASSWORD=your_secure_password_here
POSTGRES_PORT=5432
POSTGRES_DIALECT=postgres

# =============================================================================
# Redis Cache Configuration
# =============================================================================
REDIS_URL=redis://localhost:6379/0
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

# =============================================================================
# Source Api Url
# =============================================================================
RICK_AND_MORTY_API_URL=